<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ldsr.mapper.CoverMapper">

    <resultMap id="BaseResultMap" type="org.ldsr.bean.Cover">
            <id property="coverId" column="cover_id" jdbcType="INTEGER"/>
            <result property="coverBase64" column="cover_base64" jdbcType="VARCHAR"/>
            <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
            <result property="isJudged" column="is_judged" jdbcType="TINYINT"/>
            <result property="position" column="position" jdbcType="OTHER" typeHandler="org.ldsr.handler.GeometryTypeHandler"/>
            <result property="coverCategory" column="cover_category" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cover_id,cover_base64,upload_time,
        is_judged,position,cover_category
    </sql>
</mapper>
